doctype html
html
    head
        title Lista de Reservas
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 Lista de Reservas

        table
            thead
                tr
                    th Nombre del Cliente
                    th Fecha
                    th Hora
                    th Número de Mesa
                    th Estado
                    th Comentarios
                    th Acciones
            tbody 
                each reserva in listaReservas
                    tr
                        td= reserva.nombreCliente
                        td= reserva.fechaDeTurno ? new Date(reserva.fechaDeTurno).toLocaleDateString('es-ES') : 'Fecha no disponible'
                        td= reserva.fechaDeTurno ? reserva.fechaDeTurno.split('T')[1].split('.')[0] : 'Hora no disponible'
                        td= reserva.numMesa || 'Mesa no asignada'
                        td= reserva.estado || 'Estado no disponible'
                        td= reserva.comentario || 'Sin comentarios.'
                        td
                            button(type='button',onclick=`actualizarEstadoReserva(${reserva.id}, 'Confirmado')`,class=reserva.estado === 'Confirmado' ? 'btnDisabled' : '', disabled=reserva.estado === 'Confirmado').btnConfirm Confirmar
                            button(type='button', onclick=`eliminarReserva(${reserva.id})`).btnDelete Eliminar

        button(type='button', onclick="location.href='/main'") Volver



script.
  function actualizarEstadoReserva(id, nuevoEstado) {

    const confirmacion = confirm("¿Estás seguro de que quieres confirmar esta reserva?");
    
    if (confirmacion) {
      fetch(`/api/reservations/${id}/${nuevoEstado}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
      })
      .then(response => {
        if (response.ok) {
          return response.json();
        }
        throw new Error('Error al actualizar el estado de la reserva');
      })
      .then(data => {
        alert('Estado de la reserva actualizado con éxito.');
        location.reload(); // Recargar la página si es necesario
      })
      .catch(error => {
        console.error('Error:', error);
        alert('No se pudo actualizar el estado de la reserva.');
      });
    }
  };
  function eliminarReserva(id) {

    const confirmacion = confirm("¿Estás seguro de que quieres eliminar esta reserva?");
    
    if (confirmacion) {
      fetch(`/api/reservations/${id}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
        },
      })
      .then(response => {
        if (response.ok) {
          return response.json();
        }
        throw new Error('Error al eliminar la reserva');
      })
      .then(data => {
        alert('Reserva eliminada con éxito');
        location.reload();
      })
      .catch(error => {
        console.error('Error:', error);
        alert('No se pudo eliminar la reserva.');
      });
    }
  }
